@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --marvel-color: #EC1D24;
  --header--border-color: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-condensed);
  --font-mono: var(--font-geist-mono);
  --color-marvel: var(--marvel-color);
  --color-header: var(--header--border-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-condensed);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--marvel-color);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #e5e7eb;
}
